body {
    background: #FB6B6B;
}


.tela1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 230px;

}

.logo {
    height: 30%;
    width: 30%;
    align-self: center;
}

.buttoniniciar {
    height: 50px;
    width: 60%;
    border-radius: 5px;
    margin-top: 50px;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid #D70900;
    background-color: #FFFFFF;
    text-decoration: none;
    text-align: center;


}

.textCaixinha {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #D70900;
    align-self: center;
    margin-top: 15px;

}

.subtitulo {
    margin-top: 20px;
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #FFFFFF;
    min-height: 10px;
}

.topo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;


}

.logo {
    max-width: 13%;
    max-height: 65px;
    margin-right: 15px;
}

h1 {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #FFFFFF;
    margin-top: 10px;
}

.containerDePerguntas {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
    margin-bottom: 100px;
}

.perguntas {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    width: 80%;
    height: 60px;
    align-self: center;

}

h2 {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    margin-top: 20px;
    padding-left: 10px;
}

.play {
    width: 10%;
    height: 30px;
    margin-top: 15px;
    padding-right: 10px;
}

.pergunta {
    display: flex;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    width: 80%;
    height: 160px;
    align-self: center;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px
}

.renderPergunta {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin-top: 10px;
    padding-left: 10px;
    width:100%;
}
.iconePergunta{
    padding-top: 110px;
    width: 60px;
    
    
}
.ion{
    width: 50px;
    height: 30px;
    margin-left: 20px;
    padding-bottom: 20px;
    margin-left: 10px;
    

}
.botoes{
border-radius: 5px;
width: 100%;
height: 45px;
margin-top: 30px;
display: flex;
justify-content: space-between;


}
.botaoText{
color: #FFFFFF;
font-family: 'Recursive';
font-style: normal;
font-weight: 400;
font-size: 15px;
text-align: center;
padding-top: 5px;
width: 30%;


}
.vermelho{
    background: #FF3030;
}
.laranja{
   background: #FF922E;
}
.verde{
    background: #2FBE34;

}
.p{
    text-decoration: line-through;
}
.red{
    color: #FF3030;
}
.orange{
    color: #FF922E;
}
.green{
    color:#2FBE34;
}
.rodape{
background-color: #FFFFFF;
width: 100%;
height: 100px;
position: fixed;
bottom: 0;
}
.ok{
color: black;
font-family: 'Recursive';
font-style: normal;
font-weight: 400;
font-size: 25px;
text-align: center;
margin-top: 30px;
}
.icons{
    display: flex;
}